<div class="container mt-3 col-s-12" id="table">
    <form action="/">
        <button type="submit" class="btn btn-block buttons-transparent"><img src="/static/images/back-arrow.png"></button>
    </form>
    <h2>PRODUTORES</h2>
    <table class="table table-striped">
        <thead>
            <tr>
            <th>Produtor</th>
            <th>Marca</th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <!--  -->
            {{#each produtores}}
                <tr>
                <td>{{nome}}</td>
                <td>{{marca}}</td>
                <td style="text-align: right; width: 5%;">
                    <form action="/update-produtores/{{id}}" method="GET">
                        <button type="submit" class="btn btn-info btn-sm"><img src="/static/images/edit.png"></button>
                    </form>
                </td>
                <td style="text-align: right; width: 5%;">
                    <form action="/delete-produtores/{{id}}" method="GET">
                        <button type="submit" class="btn btn-danger btn-sm"><img src="/static/images/delete.png"></button>
                    </form></td>
                </tr>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <form action="/cadastro-produtores" class="cadastro-produtores">
        <button type="submit" class="btn btn-block btn-sm buttons-add">Adicionar Produtor</button>
    </form>
        
</div>